<!DOCTYPE html>
{% load static %}
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Black Cloud</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <style>

        body, html {
            height: 100%;
            display: grid;
        }

    </style>
</head>
<body>
    <div style="margin: auto; width: 60%;">
    <div style="width: 60%; margin: auto;">
        <h3>您已经登出青云员工云学习平台</h3>
        <a href="{% url 'accounts_app:show_login_page' %}" style="text-align: center;">
        <div class="alert alert-info" role="alert">
            去登录
        </div>
        </a>
    </div>
        </div>

</body>
</html>