{% extends 'user_operations_app/operation_board.html' %}

{% block content %}

<div style="width: 90%; margin: 10px auto;">
    <form action="/community/comments/" method="post">
        {% csrf_token %}
        <thead>
        <tr>
            <p><p>主题</p><input type="text" name="title"></p>
            <!--<p>article<input type="" name="article"></p>-->
            <p><p>内容</p><textarea name="article" id="" cols="30" rows="10"></textarea></p>
            <!--<p>article< type="" name="article"></p>-->
            <p><input type="submit" value="submit"></p>
        </tr>
        </thead>
    </form>
</div>
{% endblock %}







