{% extends 'user_operations_app/operation_board.html' %}

{% block content %}

<div style="margin-left: 40px;margin-top: 20px;">
    <button type="button" class="btn btn-default">
    <a href="{% url 'community_app:comments' %}">发贴</a>
</button>
</div>



<div style="height: 50px;"></div>

<div style="width: 90%; margin: 10px auto;">
        <table class="table table-striped" style="text-align: center; ">
          <thead>
            <tr>
              <th scope="col">主题</th>
              <th scope="col">发题者</th>
              <th scope="col">赞数</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>

            {% for i in t_objs %}
            <tr>
                <td>{{ i.title }}</td>
                <td>{{ i.user.username }}</td>
                <td>{{ i.star }}</td>
                <td><a href="{% url 'community_app:view_this_topic' %}?topic_id={{i.id}}">查看</a> <a href="{% url 'community_app:star_this_topic' %}?topic_id={{i.id}}&action_user_id={{request.user.id}}">点赞</a></td>
            </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
{% endblock %}







