{% extends 'user_operations_app/operation_board.html' %}

{% block content %}


<div style="height: 50px;"></div>

<div style="width: 90%; margin: 10px auto;">
        <table class="table table-striped" style="text-align: center; ">
          <thead>
            <tr>
              <th scope="col">主题</th>
              <th scope="col">发题者</th>
              <th scope="col">赞数</th>
            </tr>
          </thead>
          <tbody>

            {% for i in t_objs %}
            <tr>
                <td>{{ i.title }}</td>
                <td>{{ i.user.username }}</td>
                <td>{{ i.star }}</td>
            </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>


<div style="width: 90%; margin: 10px auto;">
<form action="/community/show_topics/" method="post"  >
     {% csrf_token %}
              <thead>
            <tr>

    <p>title<input type="text" name="title"></p>
    <p>article<input type="text" name="article"></p>
    <p><input type="submit" value="submit"></p>
            </tr>
              </thead>
</form>
</div>
{% endblock %}







