{% extends 'user_operations_app/operation_board.html' %}

{% block content %}


<a href="{% url 'community_app:comments' %}">发贴</a>

<div style="height: 50px;"></div>

<div style="width: 90%; margin: 10px auto;">
        <table class="table table-striped" style="text-align: center; ">
          <thead>
            <tr>
              <th scope="col">主题</th>
              <th scope="col">内容</th>
              <th scope="col">发贴人</th>
              <th scope="col">时间</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>

            {% for i in t_objs %}
            <tr>
                <td>{{ i.title }}</td>
                <td>{{ i.article }}</td>
                <td>{{ i.user.username }}</td>
                <td>{{ i.date }}</td>
            </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
{% endblock %}







